.WelcomeLogo {
  text-align: center;
  background: white;
  border-radius: 4px;

  .combined-wrapper {
    padding: 0;
    background: linear-gradient(147deg, #f71735 0%, #db3445 74%);
    //background: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    //background: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
    //background: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
    //background: linear-gradient(316deg, #99201c 0%, #f56545 74%);
    height: 300px;
    position: relative;
    width: 100%;
    border-radius: 4px;
  }
  .combined-reload {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
  .combined {
    color: #fff;
    width: 316px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .combined-shape {
    position: relative;
  }
  .combined-shape > * {
    width: 50%;
    height: 64px;
    position: absolute;
    overflow: hidden;
  }
  .combined-shape > * > * {
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .combined-shape .shape-left {
    left: 0;
  }
  .combined-shape .shape-right {
    right: 0;
  }
  .combined .title {
    font-size: 58px;
    letter-spacing: 8px;
    position: absolute;
    width: 350px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .combined-bar {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 70px;
  }
  .combined .content {
    text-align: center;
    top: 78px;
    background: transparent;
  }
}