.ProductPillarProperty {
  margin-top: 8px;

  .productPillarPropertyTitle{
    font-size: 18px;
    color: black;
    border-bottom-color: red;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  .productPillarPropertyBody{
    font-size: 16px;
  }
}